@import url('https://fonts.googleapis.com/css2?family=Kings&family=Zen+Antique&display=swap');
.App{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
.box{
  text-align: center;
  padding: 10vh 0px;
  width: 30vw;
  height: 50vh;
  background-color: blueviolet;
  color: white;

  
}
#logo{
  margin: 0px;
  font-weight: bold;
  text-align: center;
  color: yellow;
  background-color: #034f84;
  letter-spacing: 0.1rem;
  font-family: 'Kings', cursive;
  font-family: 'Zen Antique', serif;
}
.controls{
  width: 40vw;
}
label{
  font-size: 20px;
  font-family: 'Kings', cursive;
  font-family: 'Zen Antique', serif;
}